@using AdminLTE.MVC.ViewModel
@model ApplicationControllersViewModel
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


	<div class="row">
		<div class="col">
			@foreach (var c in Model.Controllers)
			{
				<ul class="list-group">
					@c.ControllerName
					@foreach (var a in c.ActionsNames)
					{
						<li class="list-group-item">@a</li>

					}
				</ul>
			}
		</div>
		<div class="col">col</div>
		<div class="col">col</div>
	</div>

</div>
